<section *ngIf="!issLoading"> 

<section *ngIf="!Entry_View">
    <!-- <section *ngIf="student_exams_.Exam_Id">


    <h2 class="">Choose A department</h2>
    <div  (click)="ShowQuestion(department?.Department_Id)"  *ngFor="let department of department_Data;let i = index" class="shadow-sm mt-5 border border-gray-500 border-solid p-8 cursor-pointer font-bold hover:bg-slate-400">
        <div class="flex justify-between ">
            <span>
                
                {{department.Department_Name}}
            </span>
            
        </div>
        
        
        
    </div>
</section> -->
    <section *ngIf="!student_exams_.Exam_Id">


        <div  (click)="Search_student_exams_questions(examType)"*ngFor="let examType of examTypes; let i = index" class="shadow-sm mt-5 border border-gray-500 border-solid p-8">
            <div class="flex justify-between" >
                <span>
                {{ examType.Exam_Name }}
            </span>

            </div>
        </div>
    </section>


</section>
<section *ngIf="Entry_View">
    <button class="bg-blue-500
        hover:bg-600 text-white font-bold py-2 px-4 rounded" (click)="Close_Click()">
           Back
           
          </button>


    <section *ngIf="!student_exams_.Student_Exam_Id">


        <div *ngIf="student_exams_Data && student_exams_Data.length > 0;">
            <div class="container mx-auto mt-8">
                <div [ngClass]="{'Time_Up': student_exams_.Duration <= 0}" class="w-full rounded overflow-hidden shadow-lg" *ngIf="examStarted">
                    <div class="bg-gray-200 px-6 py-4">
                        <div>
                            <p>Duration: {{student_exams_.Duration>0? convertDuration(student_exams_.Duration):'Time Up' }}</p>
                        </div>
                        <div>
                          {{ currentQuestionIndex + 1 }} /{{student_exams_Data.length}} 
                        </div>
                        <p class="text-gray-700 font-semibold text-lg" *ngIf="examStarted">{{ student_exams_Data[currentQuestionIndex].Question_Text }}</p>
                    </div>
                    <div class="px-6 py-4">
                        <div class="grid grid-cols-1 gap-4">
                        
                        
                            <label *ngFor="let option of [student_exams_Data[currentQuestionIndex].Option1, student_exams_Data[currentQuestionIndex].Option2, student_exams_Data[currentQuestionIndex].Option3, student_exams_Data[currentQuestionIndex].Option4]; let i = index" class="flex gap-5 items-center cursor-pointer">
                      <div>
                        option {{i+1}}
                      </div>
                      <div>
                
                                <input 
                               
                          type="radio" 
                          class="form-radio h-5 w-5 text-indigo-600" 
                          name="question{{ student_exams_Data[currentQuestionIndex].Question_Id }}" 
                          [value]="i + 1" 
                          [checked]="isOptionSelected(i + 1,student_exams_Data[currentQuestionIndex].Question_Id)"
                          (change)="selectOption(i + 1)">
                      <span class="ml-2 text-gray-800">{{ option }}</span>
                    </div>
                  </label>

                        </div>
                    </div>
                </div>
                <div *ngIf="!examStarted">
                    <div class="max-w-md mx-auto p-6 bg-white rounded-md shadow-md">
                        <h2 class="text-xl font-bold mb-4">Exam Instructions</h2>
                        <p class="mb-4">Welcome to your exam. Please read the following instructions carefully:</p>
                        <ul class="list-disc pl-6 mb-4">
                          <li>You have <strong>{{ student_exams_Data.length }}</strong> exams to complete.</li>
                          <li>Each exam has a time limit of <strong>{{convertDuration(student_exams_.Duration) }}</strong>.</li>
                          <li>Once the time is up, you must submit your exam. You won't be able to edit your answers after the time is over.</li>
                          <li>Please manage your time effectively to complete all questions.</li>
                          <li>Ensure that your internet connection is stable and your browser is compatible with the exam platform.</li>
                          <li>If you encounter any technical issues, please contact <strong>{{ supportEmail }}</strong> for assistance.</li>
                          <li>Remember to maintain exam integrity. Any form of cheating or violation of exam rules will result in consequences.</li>
                        </ul>
                        <p class="mt-4">Good luck!</p>
                        <Button style="background-color: burlywood;" class="
                        hover:bg-600 text-black w-full  font-bold py-2 px-4 rounded" (click)="  this.startCountdown()">Start</Button>
                      </div>
                      
                       
                  
                </div>
            </div>

            <div class="mt-4 flex gap-5 " *ngIf="examStarted">
                <button *ngIf="currentQuestionIndex <= student_exams_Data.length - 1 && currentQuestionIndex !=0 && student_exams_.Duration > 0" (click)="currentQuestionIndex=currentQuestionIndex-1">Prev</button>
                <button *ngIf="currentQuestionIndex < student_exams_Data.length - 1 && student_exams_.Duration > 0" (click)="currentQuestionIndex=currentQuestionIndex+1">Next</button>
                <button *ngIf="currentQuestionIndex == student_exams_Data.length - 1 || student_exams_.Duration <  0 " (click)="Save_student_exams()">Submit</button>
            </div>


          
        </div>
    </section>
    <section *ngIf="student_exams_.Student_Exam_Id">
        <p>Marks Obtained: {{ this.student_exams_.Mark_Obtained }} / {{ this.student_exams_.Total_Marks }}</p>

        <!-- Determine if the student has passed and display message accordingly -->
        <div *ngIf="this.student_exams_.passed === 1; else failed">
            <p style="color: green;">Congratulations! You have passed the exam.</p>
        </div>
        <ng-template #failed>
            <p style="color: red;">Sorry, you have not passed the exam.</p>
        </ng-template>


        <!-- <div style="width: 300px; border: 1px solid black;">
  <div [ngStyle]="getBarStyles()">
    {{ ((this.student_exams_.Mark_Obtained / this.student_exams_.Total_Marks) * 100) | number:'1.1-1' }}%
  </div>
</div> -->
        <div role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.--value]="getBarStyles()">
{{getBarStyles() }}%

        </div>


    </section>




</section>
</section>

<section *ngIf="issLoading"> 
    <!-- component -->
<div class="bg-white rounded-lg shadow-md p-4 animate-pulse" >
<ng-container *ngFor="let i of [1,1,1,1,1,1]">


<div class="w-full h-24 bg-gray-300 rounded mb-2" ></div>
</ng-container>
</div>
  </section>