.card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .gradient-red {
    background: linear-gradient(135deg, #FF416C 0%, #ffbe2b 100%);
  }
  
  .gradient-blue {
    background: linear-gradient(135deg, #375347 0%, #44bfb4 100%);
  }
  
  .gradient-green {
    background: linear-gradient(135deg, #56ab2f 0%, #a8e063 100%);
  }
  