


<main class="">
    
<div *ngIf="!this.isLoading">
    <section>           <img class="rounded-lg" [src]="filepath+Banner.filepath" style="  height:420px;
      width: 100%;
      object-fit: cover; 
      " alt="" srcset="">
    </section>
    <section class="mt-3">
        
        <div *ngIf="studentEligibity.No_Of_Exam >= studentEligibity.Minimum_No_Of_Exam_ && studentEligibity.Eligibility === 1" class="bg-green-500 text-white text-center py-4 rounded-lg ">
            <p class="text-lg font-semibold">You are eligible</p>
          </div>
          <div *ngIf="studentEligibity.No_Of_Exam  >= studentEligibity.Minimum_No_Of_Exam_ && studentEligibity.Eligibility !== 1" class="bg-red-200 text-red-800 text-center py-4 rounded-lg " >
            <p class="text-lg font-semibold">You are not eligible</p>
          </div>
          
          
      </section>
    <section class="mt-5 ">   
     

    
           

              <div class=" grid grid-cols-3 justify-center gap-6">
                <div class=" p-5 box-border h-64	 rounded-lg box-shadow flex flex-col justify-between">
                  <div class="flex justify-between">
                    <div class="flex flex-col gap-4">
                      <span class="text-lg">Total Attend</span>
                      <span class="text-[36px]">{{ studentEligibity.No_Of_Exam || 0 }}</span>
                    </div>
                    <div> 
                      <img src="assets/images/graph/total.svg" class="h-full w-full" alt="Graph1" /> 
                    </div>
                  </div> 
                  <div>
                    <img src="assets/images/graph/Graph1.svg" class="h-full w-full" alt="Graph1" /> 
                  </div>
                </div>
              
                <div class=" p-5 box-border h-64	 rounded-lg box-shadow flex flex-col justify-between">
                  <div class="flex justify-between">
                    <div class="flex flex-col gap-4">
                      <span class="text-lg">Total Pass</span>
                      <span class="text-[36px]">{{ studentEligibity.No_Of_Pass || 0 }}</span>
                    </div>
                    <div> 
                      <img src="assets/images/graph/passed.svg" class="h-full w-full" alt="Graph1" /> 
                    </div>
                  </div> 
                  <div>
                    <img src="assets/images/graph/Graph2.svg" class="h-full w-full" alt="Graph1" /> 
                  </div>
                </div>
              
                <div class=" p-5 box-border h-64 gap-3	 rounded-lg box-shadow flex flex-col justify-between">
                  <div class="flex justify-between">
                    <div class="flex flex-col gap-4">
                      <span class="text-lg">Student Average Mark</span>
                      <span class="text-[36px]">{{ studentEligibity.StudentAverage_Mark || 0 }}</span>
                    </div>
                    <div>
                      <img [src]="studentEligibity.Eligibility == 1 ? 'assets/images/graph/avg.svg' : 'assets/images/graph/fail.svg'"  alt="Graph1" /> 
                    </div>
                  </div> 
                  <ng-container >
                   
                    <div class="relative">
                      <img [src]="studentEligibity.Eligibility == 1 ? 'assets/images/graph/Graph3.svg' : 'assets/images/graph/Graph4.svg'" class="h-full w-full" alt="Graph1" /> 
                      <div class="absolute bottom-0 left-1/2 ">
                        <img [src]="studentEligibity.Eligibility == 1 ? 'assets/images/graph/happyFace.png' : 'assets/images/graph/sadFace.png'" class="h-full w-full" alt="Graph1" /> 
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            
      
    </section>

      
    
</div>

</main>
