

  


 <section *ngIf="!issLoading"> 
  
<section class="box-border rounded-lg box-shadow p-4" *ngIf="!Entry_View">
 

    
    <div *ngFor="let dept of department_Data;let i = index"    class="shadow-sm mb-5 border border-sky-blue bg-[#DCF2F13D]  text-dark-blue border-solid p-8 cursor-pointer font-bold hover:bg-[#7FC7D91A]" (click)="viewPPT(dept.Department_Id)">
      
      <div class="flex gap-4">

        <img src="assets/images/dept/health.svg" class="h-16 w-16" alt="Graph1" /> 
        
       <span class="heading-text  flex items-center justify-center">
        {{dept.Department_Name}}
       </span>
      </div>


    
    </div></section>
    <section *ngIf="Entry_View">
       
           <section *ngIf="!pdfPreview">
            <button class="bg-blue-500
            hover:bg-600 text-white font-bold py-2 px-4 rounded" (click)="Close_Click()">
               Back
               
              </button>
             <div *ngFor="let ppt of presentations_Data"  class="shadow-sm mt-5 border border-sky-blue bg-[#DCF2F13D]  text-dark-blue border-solid p-8 cursor-pointer font-bold hover:bg-[#7FC7D91A]"(click)="ShowpdfPreview(ppt)">
              <div class="flex gap-4">

                <img src="assets/images/icons/ppt.svg" class="h-16 w-16" alt="Graph1" /> 
                
               <span class="heading-text  flex items-center justify-center">
                {{ppt.Name}} 
              </span>
              </div>
            </div>
          </section>
          <div id="outerContainer" *ngIf="pdfPreview">
            <button class="bg-blue-500
         hover:bg-600 text-white font-bold py-2 px-4 rounded" (click)="pdfPreview=false;isLoaded=false">
            Back
            
           </button>
           <div *ngIf="!isLoaded" class="w-full h-36 bg-gray-300 rounded mb-2" ></div>
            <div class="pdf-container flex justify-center items-center gap-6">
        
                    <button *ngIf="isLoaded && selectedpdf.Path" class="rounded-lg p-3 bg-blue text-white  h-12" (click)="prevPage()" [disabled]="page === 1"><span class="material-symbols-outlined">
                      keyboard_arrow_left
                      </span></button>
            
                

                  <pdf-viewer                [src]="filepath+selectedpdf.Path"

                              [original-size]="false"
                              style="height: 500px; width: 600px;"
                              [show-all]="false"
                              [page]="page"
                              (after-load-complete)="afterLoadComplete($event)"
                  ></pdf-viewer>
                  <button class="rounded-lg p-3 bg-blue text-white h-12" (click)="nextPage()"*ngIf="isLoaded && selectedpdf.Path" [disabled]="page === totalPages"><span class="material-symbols-outlined">
                    keyboard_arrow_right
                    </span></button>

            </div>
            <div class="w-full text-center" *ngIf="isLoaded && selectedpdf.Path">

              <span class=" w-full">{{ page }} / {{ totalPages }}</span>
            </div>

          </div>
          
    </section>
</section>
    <section *ngIf="issLoading"> 
      <!-- component -->
<div class="bg-white rounded-lg shadow-md p-4 animate-pulse" >
<ng-container *ngFor="let i of [1,1,1,1,1,1]">

  
  <div class="w-full h-24 bg-gray-300 rounded mb-2" ></div>
</ng-container>
</div>
    </section>