<section *ngIf="issLoading">
    <app-loading [isLoading]="issLoading"></app-loading>

</section>
<section *ngIf="!issLoading">
    <section *ngIf="!Entry_View">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" (click)="Create_New()">
       Add Department 
      </button>

        <div *ngFor="let department of department_Data;let i = index" class="shadow-sm mt-5 border border-gray-500 border-solid p-8">
            <div class="flex justify-between">
                <span>

            {{department.Department_Name}}
        </span>
                <div>

                    <span (click)="Delete_department(department.Department_Id,i)" class="material-symbols-outlined">
                delete
            </span>
                    <span (click)="Edit_department(department)" class="material-symbols-outlined">
                edit
            </span>
                </div>
            </div>



        </div>
    </section>
    <section *ngIf="Entry_View">
        <button class="bg-blue-500
         hover:bg-600 text-white font-bold py-2 px-4 rounded" (click)="Close_Click()">
            Back
            
           </button>

        <form (ngSubmit)="Save_department()">
            <div class="mb-4">
                <label for="departmentName" class="block text-sm font-medium text-gray-700"> Department Name <span class="text-red-700">*</span></label>

                <input type="text" id="departmentName" name="departmentName" [(ngModel)]="department_.Department_Name" required maxlength="50" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="description" name="description" [(ngModel)]="department_.Description" cols="20" rows="5" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"></textarea>
            </div>

            <!-- <div class="mb-4">
              <label for="image" class="block text-sm font-medium text-gray-700">Upload Image</label>
              <input type="file" id="image" name="image" (change)="handleImageUpload($event)"
                     class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
             -->
            <button type="submit" class=" hover:bg-indigo-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
              Save
            </button>
        </form>

    </section>
</section>