input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional - if you want to remove the margin as well */
}

/* Optional: Customize the appearance of the number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}